

$primary:#3ace09;
$white: #fff; 
$dark: #192f59;
$danger: red;
$light-weight :300;
$regular-weight:400;
$medium-weight :500;
$bold-weight :700;
$link-hover-color:  #3db166; //green
$default-color:#1d1c1c;
$container-width:1400px;
$transition: 0.3s ease-out;
$primary-dark:#2f641d;
$warning: #856404;
$warning-bg:#fff3cd;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) 